:root {
    --font1: Georgia, 'Times New Roman', Times, serif;
    --font2: Verdana, Geneva, Tahoma, sans-serif;
    --flax-color: #F3DE8A;
    --oxford-blue-color: #030027;
    --cian-color: #69FFF1;
    --wine-color: #753742;
    --urarian-blue-color: #A2D6F9;
}